#gameBoard {
    border-radius: 50px;
}
.gameBoard {
    background-color: rgb(127, 65, 3);
}
.winGameBoard {
    background-color: rgba(0,255,0,0.7);
}
#board {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hole {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 100px
}

.hole:hover{
    outline-style: solid;
    outline-color: red;
    outline-width: 5px;
}
.mole-div{
    height: inherit;
    width: inherit;
    background-color: blue;
    display: flex;
}

.mole-character{
    width: 100%;
    margin: 10px;
    background-color: red;
}
#winScreen {
    text-align: center;
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
    display: none;
}
.scoreP {
    position: absolute;
    margin-left: 50px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.btnContainer {
    display: flex;
    justify-content: space-around;
}
#startButton {
    margin-bottom: 30px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: larger;
}
@keyframes hideMole {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
@keyframes showMole {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}