#board {
    background-color: rgb(127, 65, 3);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hole {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 100px
}

.hole:hover{
    outline-style: solid;
    outline-color: red;
    outline-width: 5px;
}
.mole-div{
    height: inherit;
    width: inherit;
    background-color: blue;
}

@keyframes hideMole {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
@keyframes showMole {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}